@import url("layout/3d.css");
.zpMenu {
	background: RGB(220,220,220);
}

/* All hrefs in the tree color black */
.zpMenu-top .zpMenu-label,
.zpMenu-top a  {
	color:blue;
}

.zpMenu-horizontal-mode .zpMenu-level-1 {
	padding-top: 5px;
	padding-bottom: 5px;
}

.zpMenu-item table.zpMenu-table {
	font: 11px "Comic Sans MS";
}

/* Selected background */
.zpMenu-item-selected {
	background-color: blue;
}

/* ALL Selected - font color */
.zpMenu .zpMenu-item-selected .zpMenu-label,
.zpMenu .zpMenu-item-selected a{
	color: white;
}

/* The arrow that shows up when there's a sub-menu */
.zpMenu-item-collapsed {
	background-image: url("blue_shield/icon_collapse.gif");
	background-repeat: no-repeat;
	background-position: center right;
}

/* The arrow that shows up when there's a sub-menu and the item is hovered*/
.zpMenu-item-expanded {
	background: url("blue_shield/icon_expand.gif") blue no-repeat center right;
}

/* Override previously defined background defined in this css for HR */
.zpMenuContainer .zpMenu-item-hr,
.zpMenuContainer .zpMenuContainer .zpMenu-item-hr {
	padding:0;
	margin:0;
	border:none;
	background:black;
}
