@import url("layout/basic.css");

.zpMenu {
	background: url("clearskies/menu_bg.gif");
	border: 1px solid #808080;
}

/* Current selected items in top horizontal menu*/
.zpMenu-top .zpMenu-label,
.zpMenu-top a {
	color: #3083D0;
}

.zpMenu-level-1 .zpMenu-label {
	font-weight:bold;
}

.zpMenu-top .zpMenu-item-selected .zpMenu-label,
.zpMenu-top .zpMenu-item-selected a{
	color: #3083D0;
}

/* Current selected items in vertical menu*/
.zpMenu-top .zpMenu-item-selected {
	background: #FFF;
}

/* The arrow that shows up when there's a sub-menu */
.zpMenuContainer .zpMenuContainer .zpMenu-item-collapsed  .zpMenu-label {
	background: url("clearskies/arrow.gif") no-repeat right center;
}

/* The arrow that shows up when there's a sub-menu and the item is hovered*/
.zpMenuContainer .zpMenuContainer .zpMenu-item-expanded  {
	background: url("clearskies/arrow_hover.gif") #FFF no-repeat right center;
}

/* Override previously defined background defined in this css for HR */
.zpMenuContainer .zpMenu-item-hr,
.zpMenuContainer .zpMenuContainer .zpMenu-item-hr {
	padding:0;
	margin:0;
	border:none;
	background:black;
}
