@import url("layout/3d.css");
/* top level, vertical and horizontal */

/* Start - ICON Alignment */
/* with NO icon sub-menu */
.zpMenuContainer .zpMenuContainer .zpMenu-noicon {
	padding-left:32px;
}

/* Controls the behavior of ALL left icons */
.zpMenuContainer .icon,
.zpMenuContainer .zpMenuContainer .icon {
	width: 32px;
}

.zpMenuContainer{
    background: url('csm_office_blue/tab.jpg') repeat-y 2px #F6F6F6;
    cursor: default;
    border: solid 1px #002D96;
}

.zpMenu-horizontal-mode{
  background: #F6F6F6;
}


.zpMenuContainer .zpMenu-item {
	padding:0;
	margin-top:0px;
   margin-right: 1px;
	margin-bottom: 0px;
   margin-left: 1px;
   border: none;
   background: transparent;
}

.zpMenuContainer .zpMenuContainer .zpMenu-item-first,
.zpMenu-vertical-mode .zpMenu-item-first,
.zpMenu-horizontal-mode .zpMenu-item{
    margin-top: 1px;
}

.zpMenuContainer .zpMenuContainer .zpMenu-item-last,
.zpMenu-vertical-mode .zpMenu-item-last,
.zpMenu-horizontal-mode .zpMenu-item {
    margin-bottom: 1px;
}

.zpMenuContainer .zpMenu-item-selected {
    background: #FFEEC2;
	 /* No border for top selected items */
	 border:none;
	 margin:0;
    cursor: default;
    padding: 0;
}

/* The arrow that shows up when there's a sub-menu */
.zpMenu-vertical-mode .zpMenu-item-collapsed,
.zpMenuContainer .zpMenuContainer .zpMenu-item-collapsed {
    background: url('icon/arrow_right_black.gif') no-repeat right transparent;
}

/* The arrow that shows up when there's a sub-menu and the item is hovered*/
.zpMenu-vertical-mode .zpMenu-item-expanded,
.zpMenuContainer .zpMenuContainer .zpMenu-item-expanded {
    background: url('icon/arrow_right_black.gif') no-repeat right #FFEEC2;
}

.zpMenu-top .zpMenu-item-selected a,
.zpMenu-top .zpMenu-item-selected .zpMenu-label,
.zpMenuContainer a,
.zpMenuContainer span,
.zpMenuContainer .zpMenu-label,
.zpMenuContainer .zpMenuContainer a,
.zpMenuContainer .zpMenuContainer span,
.zpMenuContainer .zpMenuContainer .zpMenu-label {
	font-family: Verdana,  Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 18px;
   cursor: default;
}

.zpMenuContainer .zpMenuContainer {
	margin-top:0px;
	margin-left:0px;
   border: solid 1px #002D96;
   background: url('csm_office_blue/tab.jpg') repeat-y 2px #F6F6F6;
   cursor: default;
}

/* General items that's not a top menu */
.zpMenuContainer .zpMenuContainer .zpMenu-item,
.zpMenuContainer .zpMenuContainer {
    cursor: default;
}

.zpMenuContainer .zpMenu-item,
.zpMenuContainer .zpMenuContainer .zpMenu-item {
	margin-top:0px;
	padding-top: 0px;
	margin-left:0px;
	margin-bottom: 0px;
	background-position:right;
   padding: 1px;
   margin-left: 1px;
   margin-right: 1px;
}

.zpMenuContainer .zpMenuContainer .zpMenu-item-first {
    margin-top: 1px;
}

.zpMenuContainer .zpMenuContainer .zpMenu-item-last {
    margin-bottom: 1px;
}

/* Current selected items in vertical menu*/
.zpMenuContainer .zpMenuContainer .zpMenu-item-selected {
    background: #FFEEC2;
    border: none;
	 padding-top:1px;
	 padding-bottom:1px;
    margin-left: 1px;
    margin-right: 1px;
}

.zpMenuContainer .zpMenuContainer .zpMenu-item-selected .icon {
    background: #FFEEC2;
}


/* The arrow that shows up when there's a sub-menu */
.zpMenuContainer .zpMenuContainer .zpMenu-item-collapsed {
    background: url('icon/arrow_right_black.gif') no-repeat right transparent;
}

/* The arrow that shows up when there's a sub-menu and the item is hovered*/
.zpMenuContainer .zpMenuContainer .zpMenu-item-expanded {
    background: url('icon/arrow_right_black.gif') no-repeat right #FFEEC2;
}

/* Controls the behavior of <hr>  it the menu */
.zpMenuContainer .zpMenuContainer .zpMenu-item-hr {
	border:none;
	margin:0;
	background:#98BCD5;
	height: 1px;
	padding: 0px 0px 0px 0px;
   margin: 2px 0px 2px 0px;
}

