@import url("layout/3d.css");

/* Top and Sub menus */
.zpMenu-rounded .zpMenu a,
.zpMenu-rounded .zpMenu .zpMenu-label {
    font-family: Tahoma, Heltvetica, Arial, sans-serif;
	color:  #FF0000;
	font-weight: bold;
    font-size: 11px;
}

/* Top and Sub menus */
.zpMenu-rounded .zpMenu .zpMenu-item-selected .zpMenu-label,
.zpMenu-rounded .zpMenu .zpMenu-item-selected a {
    color: #0066CC;
}
.zpMenu-rounded .zpMenu-vertical-mode .zpMenu-item,
.zpMenu-rounded .zpMenuContainer .zpMenu-item {
    height:20px;
    background: url("rounded/middle.gif") repeat-x center;
    background-color: #F7F7F7;
}

.zpMenu-rounded .zpMenu-vertical-mode .zpMenu-item .zpMenu-label{
  padding-left: 10px;
}

.zpMenu-rounded .zpMenu-vertical-mode .zpMenuContainer .zpMenu-item .zpMenu-label{
  padding-left: 0px;
}


.zpMenu-rounded .zpMenuContainer .zpMenuContainer  {
    border: 0px;
    margin-top: 2px;
}

.zpMenu-rounded .zpMenu-vertical-mode .zpMenuContainer  {
    border: 0px;
    margin-top: 0px;
}

.zpMenu-rounded .zpMenuContainer .zpMenuContainer .zpMenuContainer{
    margin-left:2px;
}

/* Sub menu */
.zpMenu-rounded .zpMenu-vertical-mode .zpMenu-level-1,
.zpMenu-rounded .zpMenuContainer .zpMenuContainer .zpMenu-item {
	margin-top:0px;
	padding-top: 0px;
    border: 0px;
    background: url("rounded/center.gif");
    padding:0px;
	color: #00008B;
    width: 150px;
}


/* Sub, HR */
.zpMenu-rounded .zpMenuContainer .zpMenu-item-hr,
.zpMenu-rounded .zpMenuContainer .zpMenuContainer .zpMenu-item-hr {
/*  background: #AA7755;  */
	border-top:1px solid #AA7755;
    height:2px
}

.zpMenu-rounded .zpMenuContainer .zpMenu-item-first {
    margin: 0px;
    background: url("rounded/first.gif") no-repeat left center;
    border: 0px;
}
.zpMenu-rounded .zpMenuContainer .zpMenu-item-last {
    margin: 0px;
    background: url("rounded/last.gif") no-repeat right center;
    border: 0px;
}

.zpMenu-rounded .zpMenuContainer .zpMenuContainer .zpMenu-item-last {
    margin-top: 0px;
    border: 0px;
    background: url("rounded/bottom.gif") no-repeat left bottom;
    padding-bottom:5px;
}

.zpMenu-rounded .zpMenuContainer .zpMenuContainer .zpMenu-item-first {
    background: url("rounded/top.gif") no-repeat left top;
    margin: 0px;
    border: 0px;
    padding-top:5px;
}

.zpMenu-rounded .zpMenu-vertical-mode .zpMenu-item-last {
    margin-top: 0px;
    background: url("rounded/bottom.gif") no-repeat left bottom;
    border: 0px;
    padding-bottom:5px;
}

.zpMenu-rounded .zpMenu-vertical-mode .zpMenu-item-first {
    background: url("rounded/top.gif") no-repeat left top;
    margin: 0px;
    border: 0px;
    padding-top:5px;
}


.zpMenu-rounded .zpMenuContainer .zpMenuContainer .zpMenu-item-collapsed .zpMenu-label {
	background: url("rounded/arrow2.gif") #F7F7F7 no-repeat right center;
}

.zpMenu-rounded .zpMenuContainer .zpMenuContainer .zpMenu-item-expanded .zpMenu-label {
	background: url("rounded/arrow2.gif") #F7F7F7 no-repeat right center;
}

